* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Courier New', Courier, monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url('https://static.vecteezy.com/system/resources/previews/004/360/914/large_2x/soft-blur-background-free-photo.jpg') no-repeat center fixed;
  background-size: cover;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
  margin: auto;
}

.vinyl-container {
  width: 600px;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
}

iframe.vinyl-frame {
  width: 100%;
  height: 100%;
  border: none;
}

a:link {
  color: rgb(255, 255, 255);
  background-color: transparent;
  text-decoration: none;
}

.welcome-container {
  text-align: center;
  font-size: 1.6rem;
  letter-spacing: 8px;
}

h1 {
  margin-bottom: 30px;
  font-size: 72px;
  color:white;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

nav ul li {
  margin: 20px 0;
}


nav ul li a {
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  color: #fff;
  font-size: 28px;
  font-weight: bold;
  border: 3px solid #73AD21;
  border-radius: 25px;
  border-style: double;
  animation: borderColorPulse 4s infinite;
  transition: background-color 0.3s ease;
}

nav ul li a:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: #aad8ff;
}


@keyframes borderColorPulse {
  0%   { border-color: #73AD21; }
  25%  { border-color: #00bcd4; }
  50%  { border-color: #ff4081; }
  75%  { border-color: #ffd600; }
  100% { border-color: #73AD21; }
}

footer {
  width: 100%;
  position: fixed;      
  bottom: 0;             
  left: 0;
  background-color: none;
  color: white;
  text-align: center;
  padding: 15px 0;
  font-size: 16px;
  z-index: 1;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    gap: 40px;
  }

  .vinyl-container {
    width: 300px;
    height: 300px;
  }

  .welcome-container {
    text-align: center;
    font-size: 1.2rem;
  }

  h1 {
    font-size: 40px;
  }

  nav ul li a {
    font-size: 20px;
  }
}
